{% extends 'core/base.html' %}
{% load static %}
{% block title %}Carga Datos{% endblock %}

{% block styles %}
<link href="{% static 'planes/css/rowTables.css' %}" rel="stylesheet" type="text/css" />
<style>
    #left_arrow::after{
        transform: rotate(180deg) !important;
        color: #5d78ff;
    }
    .form-control.input-inherente{
        width: 80%;
        margin-left: 5%;
    }
    .td-inherente{
        background-color: gray;
        color: white;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
        border: 1px solid orange;
    }

    .td-inherente-probabilidad, .td-inherente-impacto{                
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        text-align: center;
        border: 1px solid orange;
        font-weight: 900;
    }

    .form-control.input-inherente-probabilidad, .form-control.input-inherente-impacto{
        width: 100%;
        margin-left: 5%;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

</style>
{% endblock %}

{% block page_content %}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

    <!-- begin:: Content Head -->
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container ">
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">                    
                    <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Quick actions">                        
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                            

                            <!--end::Nav-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end:: Content Head -->

    <!-- begin:: Content -->
    <div class="kt-container  kt-grid__item kt-grid__item--fluid">
        <div class="row">
            <div class="col-md-12">

                <!--begin::Portlet-->
                <div class="kt-portlet">                    

                    <!--begin::Form-->
                   
                <form class="kt-form" method="POST" id="form-genera-archivo" action="{% url 'genera_archivo' %}">
                    {% csrf_token %}
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Generar Archivos Carga                                    
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Archivos</label>
                                        <div class="kt-radio-list">
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value ="ArchivoCargaSistemaCIO"> Generar Archivo Sistema CIO
                                                <span></span>
                                            </label>
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value="N1"> N1
                                                <span></span>
                                            </label>
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value="Unifica"> Otros Eventos
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-info" id="bn-carga-cio" value="Generar Archivo">
                                </div>                                                                
                            </div>

                        </div>
                    </div>
                </form>

                <form class="kt-form" method="POST" id="form-carga-datos" enctype="multipart/form-data" action="{% url 'carga_datos' %}">
                    {% csrf_token %}
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Cargar Datos                                    
                                </h3>
                            </div>
                        </div>
                        <div class="kt-portlet__body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Archivos</label>
                                        <div class="kt-radio-list">
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value ="ArchivoCargaSistemaCIO"> Archivo Sistema CIO
                                                <span></span>
                                            </label>
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value="N1"> Archivo N1
                                                <span></span>
                                            </label>
                                            <label class="kt-radio">
                                                <input type="radio" required name="radio-carga-datos" value="Unifica"> Otros Eventos
                                                <span></span>
                                            </label>  
                                        </div>
                                        <label style="margin-top:2%">Archivo</label>
                                        <div class="custom-file" style="width: 100%;" id="id-archivo-carga">                                            
                                            <input required type="file" class="custom-file-input" name="archivo" id="customFile">
                                            <label class="custom-file-label" style="font-size: 12px;" for="customFile">Archivo</label>
                                        </div> 
                                    </div>
                                    <input type="submit" class="btn btn-info" id="bn-carga-cio" value="Cargar Datos">
                                </div>                                                                
                            </div>

                        </div>
                    </div>
                </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

                <!--begin::Portlet-->                

                <!--end::Portlet-->
            </div>            
            </div>
        </div>
    </div>

    <!-- end:: Content -->
</div>

{% include 'planes/includes/modales.html' %}
{% endblock %}


{% block extra_javascript %}
<!-- ARCHIVOS DATATABLE -->
<link rel="stylesheet" type="text/css" href="{% static 'core/datatable/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/datatable/css/buttons.dataTables.min.css' %}">
<!-- FIN ARCHIVOS DATATABLE -->
<!-- ARCHIVOS DATATABLE -->
<script type="text/javascript" language="javascript"src="{% static 'core/datatable/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" language="javascript"src="{% static 'core/datatable/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'core/datatable/js/jszip.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'core/datatable/js/pdfmake.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'core/datatable/js/vfs_fonts.js' %}"></script>
<script type="text/javascript" language="javascript"src="{% static 'core/datatable/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" language="javascript"src="{% static 'core/datatable/createDatatable.js' %}"></script>
<!-- FIN ARCHIVOS DATATABLE -->

<script src="{% static 'core/utils/goTo.js' %}" type="text/javascript"></script>
<script src="{% static 'core/assets/js/getCookie.js' %}" type="text/javascript"></script>
<script src="{% static 'planes/js/planes.js' %}" type="text/javascript"></script>
<script src="{% static 'planes/js/limpiar.js' %}" type="text/javascript"></script>
<script src="{% static 'planes/js/registrarPlanRespuesta.js' %}" type="text/javascript"></script>
<script src="{% static 'planes/js/planesRiesgos.js' %}" type="text/javascript"></script>
<script src="{% static 'planes/js/actividadPlan.js' %}" type="text/javascript"></script>
<script src="{% static 'appCarga/js/accionesCarga.js' %}" type="text/javascript"></script>
<script src="{% static 'core/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js' %}" type="text/javascript"></script>

<script>
    $("#tb_riesgos tr").click(function(){    
        $(this).addClass("selected").siblings().removeClass("selected");
    });

    $(document).ready(function(){
        createDatatable("tb_riesgos");
    });
    
   
</script>

{% endblock %}
